* {
    margin: 0;
    background-color: #f2e9de;
}

a {
    text-decoration: none;
    color: #393552;
}

#header {
    grid-area: h;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.Navigation {
    display: inline;
    padding-right: 1rem;
}

.open_button {
    grid-area: s;
    display:flex;
    font-size: 1rem;
    /* justify-self: start; */
    color: #232136;
    background-color: #9ccfd8;
    border-radius: 25px;
}

.open_nav {
    grid-area: s;
    font-size: 1rem;
    justify-self: start;
    color: #232136;
    background-color: #9ccfd8;
    border-radius: 25px;
}

.create_button {
    grid-area: m;
    border: 0;
    height: 100px;
    width: 300px;
    font-size: 25px;
    color: #232136;
}

#note_button {
    border: 0;
    height: 25px;
    width: 25px;
    font-size: 25px;
    color: #232136;
}

.note_container {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-areas: 
    's h h'
    's m m'
    's f f';
    width: 100vw;
    height: 100vh;  
} 

.slidebar {
    grid-area: s;
    background-color: #9ccfd8;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;
}

.close_button {
    display: flex;
    font-size: 1rem;
    color: #232136;
    background-color: #9ccfd8;
    border-radius: 25px; 
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: #9ccfd8;
    font-size: 30px;
    color: #191724;
    text-align: center;
}

.close_button li {
    text-align: center;
    margin: 15px;
    list-style: square;
}

h1 + ul, .note_list, .note_list > a {
    background-color: #9ccfd8;
}

.note_list {
    list-style-type: square;  
}

.note {
    grid-area: m;
    place-self:inherit;
    display: flex;
    gap: 10px;
}

#story {
    background-color: #e0def4;
    border-radius: 25px;
}


.save_delete {
    text-align: right;
}

.save {
    color: #286983;
    border: 0;
    padding-right: inherit;
    font-size: 1rem;
}

.delete {
    color: #575279; 
    border: 0;
    font-size: 1rem;
}

footer {
    grid-area: f;
    text-align: center;
    position:relative; 
    top: 49px;
    font-family: 'Redressed', cursive;
}

@media screen and (max-width: 814px) {
    .note {
        flex-direction: column;
    }

    .create_button {
        place-self: stretch center;
        margin-left: 10px;
    }

    .note_container {
        grid-template-columns: auto;
    }

    #story {
        background-color: #e0def4;
        border-radius: 25px;
        width: 200px;
    }
}

